{% extends "textblockapp/base.html" %}

{% block content %}
<h1>DiffView</h1>
ID: {{ text.id }}
<br>
Author: {{ text.author }}
<br>
Title: {{ text.title }}
<br>


<div class="card">
    <div class="row">
        <div class="col">
            <h4>Old Code</h4>
            <div class="card current-document" id="oldCode"></div>
        </div>
        <div class="col">
            <h4>New Code</h4>
            <div class="card system-generated" id="oneCode"></div>
        </div>
    </div>
</div>

<script>
    import React, { PureComponent } from 'react'
    import ReactDiffViewer from 'react-diff-viewer'

    const oldCode = `
const a = 10
const b = 10
const c = () => console.log('foo')

if(a > 10) {
  console.log('bar')
}

console.log('done')
`
    const newCode = `
const a = 10
const boo = 10

if(a === 10) {
  console.log('bar')
}
`

    class Diff extends PureComponent {
        render = () => {
            return (
                <ReactDiffViewer
                    oldValue={oldCode}
                    newValue={newCode}
                    splitView={true}
                />
            )
        }
    }

</script>



{% endblock %}