{% extends "textblockapp/base.html" %}

{% block content %}
<h1>Welcome to TextBlockApp</h1>


<form method="post" action="">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>DiffView</th>
            </tr>
        </thead>
        <tbody>
            {% for text in text_list %}
            <tr>
                <td>
                    {{ text.id }}
                </td>
                <td>
                    {{ text.author }}
                </td>
                <td>
                    {{ text.title }}
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="{% url 'textblockapp:diffview' text.id %}">Open</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>


{% endblock %}